<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }

        h3 {
            background-repeat: no-repeat;
            padding: 2px;
            padding-left: 30px;
        }

        .errors {
            color: red;
        }
    </style>
</head>
<body>
<h3>Редактирование существующей книги</h3>
<form id="edit-form" action="edit.html">
    <h3>Информация о книге:</h3>

    <div class="row">
        <label for="id-input">Идентификатор:</label>
        <input id="id-input" type="text" readonly="readonly" name="id" th:value="*{id}" value="1"/>
    </div>
    <div class="row">
        <label for="book-title-input">Название:</label>
        <input id="book-title-input" name="title" type="text" value=""/>
    </div>
    <div class="row">
        <label for="authorId">Автор:</label>
        <select id="authorId" name="authorId" type="text">
            <option value="">Выберите автора</option>
        </select>
    </div>
    <div class="row">
        <label for="genreId">Жанр:</label>
        <select id="genreId" name="genreId" type="text">
            <option value="">Выберите жанр</option>
        </select>
    </div>

    <div class="row">
        <button type="button" onclick="updateBook()">Сохранить</button>
        <a href="homePage.html" th:href="@{/}">
            <button type="button">Отменить</button>
        </a>
    </div>
</form>
<script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
<script>
    function updateBook() {
        const savedBookContainer = document.getElementById("edited-book")
        const bookId = document.getElementById("id-input")
        const titleInput = document.getElementById("book-title-input")
        const authorInput = document.getElementById("authorId")
        const genreInput = document.getElementById("genreId")

        const book = {
            id: bookId.value,
            title: titleInput.value,
            authorId: authorInput.value,
            genreId: genreInput.value
        }

        fetch("/api/v1/book/" + book.id, {
            method: 'PUT',
            referrer: "",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(book)
        })
            .then(rawResponse => rawResponse.json())
            .then(json => savedBookContainer.innerHTML = JSON.stringify(json, null, 4))
    }
</script>

<script>
    $(function () {
        $.ajax({
            url: "/api/v1/author/",
            type: "GET",
            dataType: "json",
            success: function (authors) {
                $.each(authors, function (i, author) {
                    $("#authorId").append("<option value='" + author.id + "'>" + author.fullName + "</option>");
                });
            }
        });
    });
</script>


<script>
    $(function () {
        $.ajax({
            url: "/api/v1/genre/",
            type: "GET",
            dataType: "json",
            success: function (genres) {
                $.each(genres, function (i, genre) {
                    $("#genreId").append("<option value='" + genre.id + "'>" + genre.name + "</option>");
                });
            }
        });
    });
</script>
<h3>Измененная книга:</h3>
<pre id="edited-book"></pre>
</body>
</html>